*
{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: "poppins";
}
body 
{
    background: linear-gradient(-45deg, #ff6600, #ffcc00, #ff6699, #cc99ff);
    justify-content: center;
    align-items: center;
    min-height: 80vh;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page-header
{
    top: -358px;
    left: 1496px;
    /* border: 2px solid black; */
    margin-bottom: 20px;
}

.top-header
{
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin: 14px 50px 0px 50px;
    border: 1.8px solid black;
}

.words
{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 10px;
}

.cat
{
    padding-top: 12px;
}

.write
{
    margin: 10px;
    margin-left: 15px;
    font-size: x-large;
}

.img-div
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.img-dev
{
    width: 35%;
}

.description
{
    display: flex;
    justify-content: center;
    padding: 0px 250px 0px 250px;
    text-align: center;
}

.chapiter-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.6px solid black;
    margin: 15px 25%;
}

.chapiter-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 25%;
    text-align: center;
}

.minilibx-video
{
    text-align: center;
}

